---
// src/components/TeamDisplay.astro
import { Image } from 'astro:assets';
import type { teamProps } from "@scripts/TeamMemberInterfaces.ts";

//Team member images
import anthonyImg from "@assets/team/anthony.jpg";
import rayImg from "@assets/team/ray.jpg"

export const team: Array<teamProps> = [
  {
    name: "Ray LeClercq",
    title: "Sales Manager",
    avatar: {
      title: "Ray LeClercq Profile Picture",
      imageRef: rayImg
    }
  },
  {
    name: "Anthony Felker",
    title: "Digital Operations",
    avatar: {
      title: "Anthony Felker Profile Picture",
      imageRef: anthonyImg
    }
  }
];
---

<div class="flex flex-wrap justify-center gap-8 w-full">
  {
    team.map((member) => (
      <div class="bg-[#D1D5BE]/40 backdrop-blur-sm rounded-2xl 
        p-6 border border-white/40 shadow-sm text-center 
        flex flex-col items-center group transition-all
        duration-300 hover:shadow-md hover:-translate-y-1 w-full sm:w-[calc(50%-1rem)] md:w-[calc(33.333%-1.5rem)] max-w-xs">
      
        <div class="w-32 h-32 rounded-2xl overflow-hidden 
          mb-4 border-2 border-white shadow-inner bg-white/50">
          <Image 
            src={member.avatar.imageRef} 
            alt={member.avatar.title}
            width={128}
            height={128}
            loading="lazy"
            class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500:"
          />
        </div>

        <h3 class="text-xl font-bold text-[#2F4340] mb-1">
          {member.name}
        </h3>
        <p class="text-sm font-semibold text-slate-600 uppercase">
          {member.title}
        </p>
      
      </div>
    ))
  }
</div>